body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
    line-height: 1.8;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1,
h2,
h3 {
    font-family: "Playfair Display", serif;
    
}
h1 {
    text-transform: uppercase;
    text-align: center;
}
h2 {
    margin-top: 20px;
    text-decoration: underline;
}
h3 {
    font-style: italic;
}
p {
    font-family: 'Roboto', sans-serif;
    text-indent: 20px;
    font-size: 14pt;
}
a {
    text-decoration: none;
    color: #1a73e8;
}
a:hover {
    color: #438dee;
}

blockquote {
    background: #eee;
    padding: 10px 20px;
    border-left: 5px solid #0077cc;
    margin: 20px 0;
    font-family: 'Montserrat';
    font-style: italic;
    font-size: 16pt;
}
ul {
    padding-left: 20px;
}
pre {
    background: #333;
    padding: 10px;
    border-radius: 5px;
    overflow-x: auto;
    color: #fff;
    font-family: monospace;
    font-size: 12pt;
}
.highlight {
    background-color: yellow;
    font-weight: bold;
}

.srtike{
    text-decoration: line-through;
}
.upper{
    text-transform: uppercase;
}
.stretch{
    letter-spacing: 5px;
}